@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "variables";

* {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

.btn-primary {
  background-color: $featured;
  border-color: $featured-dark;
  &:hover {
    background-color: $featured-dark;
  }
}

.btn-outline-secondary {
  color: var(--light)!important;
  &:hover {
    color: var(--lighter)!important;
    background-color: transparent!important;
    border-color: var(--lighter)!important;
  }
}

.btn-outline-secondary i {
  color: var(--light)!important;
  &:hover {
    color: var(--lighter)!important;
    background-color: transparent!important;
  }
}


.btn-outline-primary {
  border-color: var(--featured) !important;
  color: var(--featured) !important;

  &:hover {
    color: var(--darker) !important;
    background-color: var(--featured) !important;
  }
}

a, .active {
  color: var(--dark)!important;
  &:hover {
    color: var(--darker)!important;
  }
}
